@using CodeSanook.Common.Web
@{
    //Register if style.css is in Styles folder
    Style.Include("style.css").AtHead();
    var imageBaseUrl = this.GetUrlPathRelativeToModule("Content/Images");
}

<div class="download-link">
    <p>Download Thailand FLS Application</p>
    <a class="download-link__platform" href="@Model.AndroidUrl">
        <img src="@this.Combine(imageBaseUrl, "download-play-store.png")">
    </a>
    <a class="download-link__platform" href="@Model.IOSUrl">
        <img src="@this.Combine(imageBaseUrl, "download-app.png")">
    </a>
</div>