@{
    //Register if style.css is in Styles folder
    Style.Include("app-download.css").AtHead();
}

<div class="download-link">
    <a class="download-link__platform" href="@Model.AndroidUrl">download @Model.Title</a>
    <a class="download-link__platform" href="@Model.IOSUrl">download @Model.Title</a>
</div>