@using Codesanook.Common.Web
@{
    //Register a style file in Styles folder
    Style.Include("app-release-style.css").AtHead();
    var imageBaseUrl = this.GetUrlPathRelativeToModule("Content/Images");
}

<div class="download-link">
    <h2 class="title">Download Thailand FLS Application</h2>
    <a class="platform" href="@Model.AndroidUrl">
        <img class="store-image" src="@this.Combine(imageBaseUrl, "download-play-store.png")">
    </a>
    <a class="platform" href="@Model.IOSUrl">
        <img class="store-image" src="@this.Combine(imageBaseUrl, "download-app.png")">
    </a>
</div>