/*Use BEM convention*/
.download-link {
    text-align: center;
}

.download-link__platform {
    display: inline-block;
    margin: 7px 20px;
    width: 100%;
    max-width: 160px;
}

.download-link__platform img {
    width: 100%;
}

